.footer {
  margin-top: 80px;
  .footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;

    .contact-icons {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin: 10px 0;
    }
    .law-info {
      font-size: 1.4rem;
      margin-bottom: 10px;
    }
  }
}
