.admin-page-container {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.admin-main {
  width: 100%;
}

@media (min-width: 1024px) {
  .admin-page-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
  }

  .admin-main {
    padding: 0 20px;
  }
}
