.logout-btn {
  font-size: 2rem;
  padding: 12px;
  width: 100%;
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;

  &:hover {
    font-weight: 600;
    background-color: var(--primary-button-color);
    color: var(--primary-font-color);
  }
}
