.delivery-info-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 600px;
  position: fixed;
  top: 0;
  right: -600px;
  z-index: 1003;
  background-color: var(--primary-background-color);
  transition: right 0.5s ease;
  border-radius: var(--border-radius-md);

  &.open {
    right: 0;
  }

  .delivery-header {
    display: flex;
    justify-content: space-between;
    padding: 40px 15px;
  }

  .delivery-middle {
    flex-grow: 1;
    margin-right: -14px;
    padding-right: 7px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .delivery-iframe {
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 600px;
    height: 640px;
  }

  .delivery-content {
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 10px;

    .foxpost-delivery-delete-button {
      display: flex;
      color: red;
      font-weight: 600;
      border-width: 1px;
      border-radius: var(--border-radius-md);
      padding: 6px 12px;
      z-index: 2000;
      margin: 0 auto 10px auto;
    }

    .half-fields {
      display: flex;
      justify-content: space-between;
    }

    .full-text-field {
      width: 100%;
      font-size: 3rem;
      margin-bottom: 20px;
    }

    .half-text-field {
      width: 48%;
      margin-bottom: 20px;
    }
  }

  .delivery-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 15px;
    background-color: var(--primary-background-color);

    .to-free-delivery {
      .deliver-fee-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        font-size: 1.8rem;
        font-weight: 700;

        span {
          &.free {
            color: var(--green);
          }
        }
      }
      .min-max-price-needed {
        display: flex;
        justify-content: space-between;
        margin-top: 2px;
        p {
          font-size: 1.2rem;
          margin-bottom: 10px;
        }
      }

      .free-delivery-reminder {
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 4px;
      }
    }
    .cart-footer-total {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      font-weight: 700;
    }

    .to-payment-info-button {
      padding: 10px 0;
      width: 100%;
      border-width: 2px;
      font-size: 2rem;
      border-radius: var(--border-radius-md);
      background-color: var(--primary-font-color);
      color: var(--primary-background-color);
      font-weight: 400;
    }
  }
}

@media (min-width: 360px) {
  .delivery-info-panel .delivery-header {
    padding: 40px 20px;
  }
  .delivery-info-panel .delivery-footer {
    padding-bottom: 15px;
  }
}
@media (min-width: 600px) {
  .delivery-info-panel .delivery-header {
    padding: 40px 30px;
  }
  .delivery-info-panel .delivery-content {
    padding: 0 30px;
  }
  .delivery-info-panel .delivery-footer {
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 397px) {
  .delivery-info-panel .delivery-iframe {
    height: 780px;
  }
}

@media (min-width: 498px) {
  .delivery-info-panel .delivery-iframe {
    height: 900px;
  }
}
