.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: 100%;
  position: fixed;
  padding: 40px 15px 20px;
  right: -600px;
  top: 0;
  z-index: 1002;
  background-color: var(--primary-background-color);
  transition: right 0.5s ease;

  border-radius: var(--border-radius-md);

  &.open {
    right: 0;
  }

  .cart-empty-disclaimer {
    text-align: center;

    h2 {
      margin-top: 50px;
      margin-bottom: 20px;
    }
  }

  .cart-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .cart-middle {
    flex-grow: 1;
    overflow-y: auto;
    margin-right: -14px; /* Pushes the scrollbar outwards */
    padding-right: 7px;
  }
  .cart-item {
    display: flex;
    padding-bottom: 16px;

    .cart-item-image {
      border-radius: var(--border-radius-md);
    }

    .item-details-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 15px;
      width: 100%;

      .upper-details {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .item-name-size-wrapper {
          .item-name {
            font-size: 1.6rem;
            font-weight: 500;
          }
          .item-size {
            margin-top: 2px;
            font-size: 1.4rem;
          }
        }
        // .item-delete-button {
        //   height: 46px;
        //   width: 46px;
        //   padding: 5px;
        // }
      }
      .lower-details {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .item-quantity-wrapper {
          display: flex;
          align-items: center;
          gap: 6px;
          border-radius: var(--border-radius-button);
          border-width: 1px;
          border-style: solid;
          padding: 3px 8px;

          button {
            height: 20px;
            width: 20px;
          }
        }
        .item-price {
          line-height: 34px;
          font-size: 1.4rem;
        }
      }
    }
  }

  .cart-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    background-color: var(--primary-background-color);

    .to-free-delivery {
      .deliver-fee-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        font-size: 1.8rem;
        font-weight: 700;

        span {
          &.free {
            color: var(--green);
          }
        }
      }
      .min-max-price-needed {
        display: flex;
        justify-content: space-between;
        margin-top: 2px;
        p {
          font-size: 1.2rem;
          margin-bottom: 10px;
        }
      }

      .free-delivery-reminder {
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 4px;
      }
    }
    .cart-footer-total {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      font-weight: 700;
    }

    .to-payment-info-button {
      padding: 10px 0;
      width: 100%;
      border-width: 2px;
      font-size: 2rem;
      border-radius: var(--border-radius-md);
      background-color: var(--primary-font-color);
      color: var(--primary-background-color);
      font-weight: 400;
    }
  }
}
.overlay.open {
  display: block;
}

@media (min-width: 360px) {
  .cart {
    padding: 40px 20px 20px;
  }
}
@media (min-width: 600px) {
  .cart {
    padding: 40px 30px 20px;

    .cart-middle .cart-item {
      img {
        width: 120px;
      }
      .item-details-wrapper {
        padding-top: 5px;
        padding-bottom: 5px;

        .upper-details {
          .item-name {
            font-size: 1.8rem;
          }
        }

        .lower-details {
          .item-price {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
