.product-minerals {
  padding-top: 40px;

  .product-minerals-title {
    padding: 10px 0 20px;
    font-weight: 600;
  }
}

.product-minerals-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .mineral-container {
    padding: 14px;
    .mineral-description {
      text-align: justify;
      font-size: 1.4rem;
      line-height: var(--base-line-height);
    }

    .mineral-benefits {
      display: flex;
      flex-flow: wrap;
      gap: 10px;
      margin-top: 10px;
      .mineral-benefit-item {
        font-size: 1.4rem;
        white-space: nowrap;
        padding: 4px 8px;
        border-radius: var(--border-radius-md);
      }
    }
  }

  .accordion-style {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    padding: 6px 12px;
    border-radius: var(--border-radius-md);

    &:focus {
      background-color: black;
      color: white;

      span {
        color: black;
      }
    }

    &:focus + .accordion-content {
      max-height: 2000px;
      transition: max-height 1.5s ease-in-out;
      margin-bottom: 10px;
    }

    .mineral-name {
      font-weight: 500;
      font-size: 1.4rem;
    }
  }

  .accordion-content {
    max-height: 0;

    overflow: hidden;
    border-radius: var(--border-radius-md);

    &:focus {
      max-height: 2000px;
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 360px) {
  .product-minerals-container {
    display: grid;
    grid-template-areas:
      "item item"
      "desc desc";
    grid-template-columns: 1fr 1fr;
  }

  .accordion-content {
    grid-area: desc;
  }
}

@media (min-width: 768px) {
  .product-minerals-container {
    grid-template-areas:
      "item item item"
      "desc desc desc";
    grid-template-columns: 1fr 1fr 1fr;
  }
  .accordion-content {
    grid-area: desc;
  }
}
@media (min-width: 1400px) {
  .product-minerals-container {
    grid-template-areas:
      "item item item item"
      "desc desc desc desc";
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .accordion-style {
      padding: 10px 20px;

      .mineral-name {
        font-size: 1.6rem;
      }
    }
  }
  .accordion-content {
    grid-area: desc;
  }
}
