.sidebar {
  min-width: 260px;
  font-size: 2.2rem;

  nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s;
  }

  li {
    transition: all 0.2s;

    &:hover {
      font-weight: 600;
      border-style: solid;
      border-color: var(--primary-font-color);
      border-width: 0 0 0 4px;
      border-radius: var(--border-radius-sm);
      background-color: var(--primary-button-color);
      margin: 0 0 0 1.2rem;
      transition: all 0.2s;
    }

    .layout-link {
      display: flex;
      align-items: center;
      padding: 1.6rem;
      gap: 10px;
    }
  }
}

.sidebar .active {
  font-weight: 600;
  border-style: solid;
  border-color: var(--primary-font-color);
  border-width: 0 0 0 4px;
  border-radius: var(--border-radius-sm);
  margin: 0 0 0 1.2rem;
  transition: all 0.2s;
  background-color: var(--primary-button-color);
}
