.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin-bottom: 50px;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .logo {
    margin: 5px 0;
    height: 100px;
    display: flex;
    // flex-direction: column;
    align-items: center;

    img {
      margin-left: 14px;
      margin-right: 14px;
    }

    p {
      font-weight: 700;
      font-size: 2.2rem;
    }
  }

  .cart-icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    .items-in-cart {
      position: relative;
      font-weight: 600;
      top: -24px;
      height: 0;
      font-size: 1.4rem;
    }
  }

  .menu-title,
  .cart-title {
    display: none;
  }
}

@media (min-width: 425px) {
  .header-container {
    .menu-title,
    .cart-title {
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

@media (min-width: 1024px) {
  .header-container {
    .menu {
      display: block;
      .menu-title {
        display: none;
      }
    }
  }
}
