:root {
  // Colors

  --primary-font-color: #1f1f1f;
  --secondary-font-color: #a54a2f;
  --primary-background-color: #fcfcfc;
  --secondary-background-color: #e0e0e0;

  --primary-button-color: rgba(189, 189, 189, 0.2);

  --shadow-color: rgba(85, 85, 85, 0.2);

  --black: #303030;
  --green: #008f00;

  // Border Radius
  --border-radius-round: 50%;
  --border-radius-button: 20px;
  --border-radius-bg: 20px;
  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  --base-line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

button {
  font-family: var(--secondary-font-family);
  border: 0;
  border-style: solid;
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
  cursor: pointer;
}

// h1,
// h2,
// h3 {
//   font-family: var(--secondary-font-family);
// }

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

body {
  font-family: var(--secondary-font-family);
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
  font-size: 1.8rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
  -webkit-tap-highlight-color: var(--primary-font-color);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--secondary-background-color);
  padding: 0;
}

li {
  list-style-type: none;
}

.base-svg {
  fill: var(--primary-font-color);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--primary-font-color);
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-font-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Apply the custom scrollbar globally */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--primary-background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-font-color);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-font-color);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 999;
  display: none;
}

.css-checkbox {
  position: static;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 0px;
  width: 0px;
  overflow: hidden;
}

#inputPreview {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.css-checkbox + label {
  position: relative;
  font-size: 1.8rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 1px 0;
  height: 28px;
  color: var(--primary-font-color);
}
.css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  min-width: 24px;
  min-height: 24px;
  background-color: var(--primary-background-color);
  border-radius: var(--border-radius-sm);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px;
}
.css-checkbox:checked + label::after {
  content: " ";
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iNDAiPjxwYXRoIGQ9Ik0zNzkuMzMzLTIyOS4zMzQgMTM4LTQ3MC42NjdsNTkuNjY2LTU5LjY2NiAxODEuNjY3IDE4MS42NjdMNzYzLTczMi4zMzNsNTkuNjY2IDU5LjY2Ni00NDMuMzMzIDQ0My4zMzNaIi8+PC9zdmc+);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 2px;
  top: 4px;
  text-align: center;
  background-color: transparent;
  height: 20px;
  width: 20px;
}
.no-scroll {
  overflow: hidden;
}

::selection {
  background: var(--primary-font-color);
  color: white;
}

/* For browser compatibility */
::-moz-selection {
  background: var(--primary-font-color);
  color: white;
}

.MuiInputBase-input[type="number"]::-webkit-inner-spin-button,
.MuiInputBase-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// App.scss or a similar file
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // full viewport height
}

.main-content {
  flex: 1; // grows to fill available space
}

.box-shadow-border {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px;
}

.main {
  width: 100%;
}

.screen-reader-only-label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (min-width: 0px) {
  .App {
    padding: 0 15px;
  }
}

@media (min-width: 425px) {
  .App {
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .App {
    padding: 0 30px;
  }
}
