.homepage {
  .homepage-main-title {
    font-size: 4.7rem;
    margin: 25px 0;
    text-align: center;
  }
  .homepage-image-links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    .image-container {
      position: relative;
      align-items: center;
      text-align: center;
      .collection-image {
        background-color: var(--secondary-background-color);
        width: 100%;
        max-width: 500px;
        max-height: 500px;
        height: auto;
        justify-content: center;
        border-radius: var(--border-radius-bg);
      }
      .collection-name {
        position: absolute;
        top: 98%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--primary-font-color);
        font-size: 3rem;
        background-color: var(--primary-background-color);
        border-radius: var(--border-radius-md);
        padding: 10px 20px;
        white-space: nowrap;
      }
    }
  }
}

@media (min-width: 520px) {
  .homepage {
    .homepage-main-title {
      margin: 50px 0;
      font-size: 6rem;
    }
    .homepage-image-links {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

@media (min-width: 800px) {
  .homepage {
    .homepage-main-title {
      margin: 70px 0;
      font-size: 6rem;
    }
    .homepage-image-links {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

@media (min-width: 1024px) {
  .homepage {
    .homepage-image-links {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }

    .homepage-main-title {
      margin: 60px 0 80px;
      font-size: 8rem;
    }
  }
}
