.filter-block {
  border-style: solid;
  border-width: 2px;
  border-radius: var(--border-radius-sm);
  border-color: var(--primary-background-color);

  .filter-accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0 16px;
    background-color: var(--primary-background-color);
    cursor: pointer;

    .rotate-180 {
      transform: rotate(180deg);
    }

    span {
      font-size: 2.2rem;
      font-weight: 500;
      font-family: var(--secondary-font-family);
    }

    .arrow-img {
      transition: transform 0.3s ease-in-out;
      position: relative;
      right: -8px;
    }
  }

  .panel {
    padding: 0 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;

    .box-wrapper {
      max-height: 290px;
      overflow-y: scroll;
      overscroll-behavior: contain;

      .item {
        margin-left: 3px;
      }
    }
  }

  .panel.open {
    max-height: 300px;
  }
  .faster-panel.open {
    max-height: 100px;
    transition: max-height 0.2s ease-in-out;
  }
}
