.products-page {
  .products-page-container {
    margin-top: 30px;

    .products-page-main {
      width: 100%;
    }
    .products-page-title {
      font-size: 3rem;
      font-weight: 700;
      text-align: center;
    }
    .products-page-divider {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 30px 0 40px;
      .filtered-products-counter {
        font-size: 1.6rem;
        font-weight: 500;
      }
      .filter-button {
        background-color: var(--primary-background-color);
        padding: 7px 14px;
        border-radius: var(--border-radius-md);
        border-width: 1px;
        border-color: var(--primary-font-color);
        display: flex;
        align-items: center;

        span {
          font-weight: 600;
          font-size: 1.4rem;
          margin-left: 2px;
        }
      }
    }

    .load-more {
      display: flex;
      justify-content: center;
      margin: 40px auto;
      padding: 16px 32px;
      border-radius: var(--border-radius-md);
      background-color: var(--primary-background-color);
      font-size: 1.8rem;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background-color: var(--primary-font-color);
        color: var(--primary-background-color);
      }
    }
  }
}

@media (min-width: 768px) {
  .products-page {
    .products-page-container {
      margin-top: 40px;
      .products-page-title {
        font-size: 3.2rem;
      }
    }
  }
}
@media (min-width: 1024px) {
  .products-page {
    .products-page-container {
      display: flex;
      margin-top: 80px;
      gap: 80px;
      .products-page-title {
        text-align: left;
        font-size: 3.8rem;
        display: flex;
        align-items: center;
        margin-bottom: 80px;
        justify-content: space-between;
        span {
          white-space: nowrap;
          font-weight: 400;
          font-size: 2rem;
        }
      }
    }
  }
}
