.auth-btn {
  font-size: 2rem;
  padding: 16px;
  width: 100%;
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: var(--primary-font-color);
  color: var(--primary-background-color);
  font-weight: 500;
}

.logout-btn {
  position: absolute;
  top: 40px;
  right: 16px;
}

.auth-btn {
  font-size: 0px;
  padding: 9px;
}

.logout-img {
  margin-right: 0px;
}

@media (min-width: 768px) {
  .logout-btn {
    right: 30px;
  }
}

@media (min-width: 1024px) {
  .logout-btn {
    position: unset;
  }

  .auth-btn {
    font-size: 1.8rem;
  }

  .logout-img {
    margin-right: 4px;
  }
}
